@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#percent, #scroll {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  
}
#scroll {
  top: 40px;
  color: #676767;
}

#scrollButton {
  position: fixed;
  top: 100px;
  left: 0;
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


main {
  position: absolute;
  width: 100vw;
  height: 200vh;
  z-index: 100;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 200px;
}


section {
  min-height: 100vh;
  padding: 20px;
  font-size: 1.5rem;
}


